.gallery-img {
    height: 188px;
    width: 91%;
    border-radius: 6px;
}
.result-img {
       width: 185px;
    height: 130px;
    border-radius: 6px;
}
.custom-font {
    font-size: 16px !important; 
}
.btn-primary{
    border-radius: 6px;
}

.btn-success{
    color: #7fc6a6 !important;
    border-radius: 6px !important;
    border-color: #7fc6a6 !important;
  }