.footer-invoice{
    justify-content: flex-end;
}
.card-margin{
    margin-top: 50px;
}
.bg-silver{
    background: silver;
}
.net-amount-style{
    background: silver;
    color: white;
    line-height: 3;
    transform: translateY(5px);
}

.green-color{
    color: green;
}
.red-color{
    color: red;
}
