.card-list {
    height: 100% !important;
    border-radius: 10px !important;
  }

  .cc-prepend {
    position: absolute; 
    left: 35px; 
    font-size: 0.8571em;
    padding-top: 7px;
}

.form-control.phone-number-prepend{
  padding-left: 45px !important;
}

.transparrent-background{
  background-color: #f2f2fa !important;
}

