@import "variables";

.gradient {
  background-image: linear-gradient(to right bottom, #8e8ddd, #4948ab);
}
.illustration {
  align-items: flex-end;
  margin-bottom: -52px;
  margin-right: -35px;
}

.login-form {
  background: $secondary-color;
}
.illustration img {
  max-width: 70%;
}

.border-radius {
  border-radius: 40px;
}

.smaller-font {
  font-size: 8px !important;
}

.logo {
  width: 135px;
}

.loginPage-animation {
  animation: popup ease 0.8s;
  animation-iteration-count: 1;
}
.signintext {
  color: #ff7949 !important;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and(max-width:1050px) {
  .illustration {
    margin-bottom: 21px;
  }
}
