<div class="row justify-content-center h-100 align-items-center gradient">
  <div
    class="
      col-lg-9
      card
      outer-card-shadow
      px-0
      border-radius
      loginPage-animation
    "
  >
    <div class="row card-body p-0 justify-content-center login-form">
      <div class="row col-12 login-form">
        <div class="card col-4 align-self-center login-form">
          <form
            (ngSubmit)="forgotPasswordForm.valid ? onForgotPassword() : ''"
            autocomplete="off"
            #forgotPasswordForm="ngForm"
          >
            <div class="header header-primary text-center mb-3">
              <img class="logo" src="assets/img/login-logo.png" alt="" />
            </div>
            <div class="content pt-3 mx-3">
              <div class="floating-label form-group login-div">
                <input
                  type="text"
                  placeholder=" "
                  class="floating-input form-control login-input-field"
                  autofocus
                  name="email"
                  autocomplete="off"
                  [(ngModel)]="employeeObj.Email"
                  #email="ngModel"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  required
                />
                <span class="highlight"></span>
                <label class="input-label login-placeholder">Email</label>
                <div class="error-block text-danger">
                  <small
                    class="text-danger ml-3"
                    *ngIf="
                      (forgotPasswordForm.submitted || email.touched) &&
                      email.errors?.required
                    "
                    >*Required</small
                  >
                  <small class="text-danger ml-3" *ngIf="email.errors?.pattern"
                    >*Invalid Format</small
                  >
                </div>
              </div>
            </div>
            <div class="text-center">
              <button
                class="btn btn-primary btn-round btn-simple"
                type="submit"
              >
                Submit
              </button>
            </div>
          </form>
          <div class="text-right m-3 small-font signintext">
            <a class="signintext" [routerLink]="['/', 'auth', 'login']"
              >Sign In?</a
            >
          </div>
        </div>

        <div class="col-8 gradient text-right">
          <div
            class="illustration mt-5 mt-md-1 pt-5 pt-md-1 mr-md-2 text-right"
          >
            <img src="assets/img/car.png" alt="Car Illustration" />
          </div>

          <div class="smaller-font white-font pr-3 pb-3">
            &copy; Designed and developed by
            <a
              href="https://www.technocares.com"
              target="_blank"
              class="hover-color"
              >TechnoCares</a
            >.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
