@import "variables";
// scrollling bar
.pn-ProductNav_Wrapper {
  position: relative;
  width: 100%;
  padding: 0px;
  // background-color:#fff;
  box-sizing: border-box;
}

.pn-ProductNav {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  .js & {
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Remove the default scrollbar for WebKit implementations */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  /* positioning context for advancers */
  position: relative;
  // Crush the whitespace here
  font-size: 0;
}

.pn-ProductNav_Contents {
  float: left;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.pn-ProductNav_Contents-no-transition {
  transition: none;
}

.pn-ProductNav_Link {
  // text-decoration: none;
  // color:#24307d !important;
  font-size: 14px;
  font-family: -apple-system, sans-serif;
  display: inline-flex;
  align-items: center;
  // margin-right: -5px;
  // font-weight: 600;
  // min-height: 36px;
  // border: 1px solid transparent;
  // padding: 0 11px;

  &[aria-selected="true"] {
    border-bottom: none !important;
  }
}

.pn-ProductNav_LinkOne {
  // text-decoration: none;
  // color:#24307d !important;
  font-size: 14px;
  font-family: -apple-system, sans-serif;
  display: inline-flex;
  align-items: center;
  // margin-right: -5px;
  // font-weight: 600;
  // min-height: 36px;
  // border: 1px solid transparent;
  // padding: 0 11px;

  &[aria-selected="true"] {
    border-bottom: none;
  }
}

.activelink {
  color: #fff !important;
  background-color: #171d30;
  font-weight: 600;
  // border-bottom: 2px solid #27b0b3;
}
.pn-Advancer {
  /* Reset the button */
  appearance: none;
  background: $secondary-color;
  padding: 0;
  border: 0;
  padding: 0;
  width: 30px;
  &:focus {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 0;
  transition: opacity 0.3s;
}

.pn-Advancer_Left {
  left: 0;
  [data-overflowing="both"] ~ &,
  [data-overflowing="left"] ~ & {
    opacity: 1;
  }
}

.pn-Advancer_Right {
  right: 0;
  [data-overflowing="both"] ~ &,
  [data-overflowing="right"] ~ & {
    opacity: 1;
  }
}

.pn-Advancer_Icon {
  width: 21px;
  height: 20px;
  fill: #171d30;
}

.pn-ProductNav_Indicator {
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 3px;
  width: 100px;
  text-align: center;
  margin: 0px auto;
  display: block;
  background-color: transparent;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.pn-ProductNav {
  overflow-x: scroll;
}

.pn-ProductNav_Wrapper {
  overflow: hidden !important;
}

.pn-ProductNav_Link {
  padding: 0 17px !important;
}

.pn-ProductNav_LinkOne {
  padding: 0 17px !important;
}
@media screen and(max-width:1050px) {
  .pn-ProductNav_LinkOne {
    padding: 0 1px !important;
  }
}
