<div class="row justify-content-center h-100 align-items-center gradient">
  <div class="col-lg-9 card outer-card-shadow px-0 border-radius">
    <div class="row card-body p-0 justify-content-center login-form">
      <div class="row col-12 login-form">
        <div class="card col-4 align-self-center login-form">
          <form (ngSubmit)="resetPassword.valid ? onResetPassword():'' " autocomplete="off" #resetPassword="ngForm">
            <div class="header header-primary text-center mb-3">
              <img class="logo" src="assets/img/login-logo.png" alt="">
            </div>
            <div class="header header-primary text-center">
              <div class="logo-container">
                <img src="assets/img/now-logo.png" alt="">
              </div>
            </div>
            <div class="content pt-3 mx-3">
              <div class="floating-label form-group login-div">
                <input type="password" placeholder=" " class="floating-input form-control login-input-field"
                  name="password" [(ngModel)]="employeeObj.Password" #password="ngModel" minlength="6" required
                  autocomplete="new-password" />
                <span class="highlight"></span>
                <label class="input-label login-placeholder">New Password</label>
                <div class="error-block text-danger">
                  <small class="text-danger ml-3"
                    *ngIf="(resetPassword.submitted || password.touched) && password.errors?.required">*Required</small>
                </div>
              </div>

              <div class="floating-label form-group login-div">
                <input type="password" placeholder=" " class="floating-input form-control login-input-field"
                  name="confirm_password" [(ngModel)]="employeeObj.ConfirmPassword" #confirmPassword="ngModel"
                  required />
                <span class="highlight"></span>
                <label class="input-label login-placeholder">Confirm Password</label>
                <div class="error-block text-danger">
                  <small class="text-danger ml-3"
                    *ngIf="(resetPassword.submitted || confirmPassword.touched) && confirmPassword.errors?.required">*Required</small>
                  <small *ngIf="password.value != confirmPassword.value">Both Passwords must be
                    same</small>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-round btn-simple" type="submit">Reset Password</button>
            </div>

          </form>
        </div>
        <div class="col-8 gradient text-right">
          <div class="illustration mt-5 pt-5 text-right">
            <img src="assets/img/car.png" alt="Car Illustration">
          </div>

          <div class="smaller-font white-font pr-3 pb-3">
            &copy; Designed and developed by
            <a href="https://www.technocares.com" target="_blank" class="hover-color">TechnoCares</a>.
          </div>
        </div>
      </div>
    </div>
  </div>