@import "variables";
.rad-info-box i {
    font-size: 2.4em;
  }
  .picture {
    left     : 50% !important;
    transform: translate(-50%, 0%) !important;
  }
  .our-team {
    height: 100%;
  }
  
  .team-main {
    flex-grow: 1;
  }
  .toggle-button-active {
    color: $hover-color;
    text-decoration: underline;
  }
  